<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/1444536e42.js" crossorigin="anonymous"></script>
{#        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>#}
{#        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>#}
{#        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>#}
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css" integrity="sha512-aD9ophpFQ61nFZP6hXYu4Q/b/USW7rpLCQLX6Bi0WJHXNO7Js/fUENpBQf/+P4NtpzNX0jSgR5zVvPOJp+W2Kg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha512-kq3FES+RuuGoBW3a9R2ELYKRywUEQv0wvPTItv3DSGqjpbNtGWVdvT8qwdKkqvPzT93jp8tSF4+oN4IeTEIlQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" integrity="sha512-CbQfNVBSMAYmnzP3IC+mZZmYMP2HUnVkV4+PwuhpiMUmITtSpS7Prr3fNncV1RBOnWxzz4pYQ5EAGG4ck46Oig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
            <style>
                *{
                    border: none;
                    background-color: rgba(255, 255, 255, 0);
                }

                .select2-selection--multiple {
                    display: flex!important;
                    flex-direction: column-reverse!important;
                }

                .select2-selection__choice {
                    margin-bottom: 10px!important;
                }

                .title{
                    font-family: 'Noto Serif', serif;
                    color: #4b4a4a;
                }

                body{
                    font-family: 'Montserrat', sans-serif;
                }

                .background{
                    border: solid 1px #dbeafe;
                    border-radius: 3px;
                    padding: 20px;
                }
                .background-form{
                    display: flex;
                    width: 900px;
                }

                .count {
                    width: 25px;
                    height: 25px;
                    background-color: #0d6efd;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-size: 12px;
                    font-weight: bold;
                    margin-top: 10px;
                }

                .bnt-rounded {
                    border-radius: 20px;
                }

                .flash-sucess{
                    border: 1px solid #badbcc;
                    border-radius: 5px;
                    width: 300px;
                    min-height: 40px;
                    padding: 10px;
                    background-color: #d1e7dd;
                    color: #0f5132;
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    align-self: flex-start;
                    margin-left: auto;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            <script>
                $(document).ready(function() {
                    //limpa todos os formulários quando clicado no botão 'Limpar'
                    $('[type="reset"]').on('click', function(e) {
                        let elements = $("[value]")
                        elements.each(function() {
                            $(this).attr('value', '');
                        });

                        let elementSelecteds = $("[selected]")
                        elementSelecteds.each(function() {
                            $(this).removeAttr('selected');
                        });
                    });
                });

                $(document).ready(function() {
                    setTimeout(function() {
                        $("#flash-sucess").fadeOut("slow");
                    },2000);
                })
            </script>
        {% endblock %}

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <h1  class="navbar-brand ps-4">Projeto Alunos</h1>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('alunos_index')}}">Alunos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('cursos_index')}}">Cursos</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="m-3">
            {% for message in app.flashes('success') %}
                <div id="flash-sucess" class="flash-sucess">
                    {{ message }}
                </div>
            {% endfor %}

            {% block body %}

            {% endblock %}
        </div>

    </body>
</html>
