{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Editar Curso {% endblock %}

{% block body %}
    <div class="d-flex align-items-center flex-column background">
        <div><h2 class="title fs-3"><i class="fa-regular fa-pen-to-square"></i>Editar Curso</h2></div>

        {{ include('/Curso/_form.html.twig') }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ component('Select2', { id: 'curso_alunos', placeholder: 'Selecione um ou mais alunos' }) }}
{% endblock %}